.scrollbar-hidden::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
.scrollbar-hidden::-webkit-scrollbar-thumb{
    background-color: #555;    
}
@media (max-width: 767px) {
    
    .scrollbar-hidden::-webkit-scrollbar{
        width: 5px;
    }
}